.Button {
  color: #080808;
  cursor: pointer;
  padding: 14px 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  font-size: 14.6px;
  transition: box-shadow ease-in 0.2s, color ease-in 0.2s;
}

.Button.white {
  background-color: #d6dce1;
}

.Button.green {
  background-color: #14cc9e;
}

.Button.green:hover {
  color: #fbfbfb;
  box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
}

.Button.skyblue {
  background-color: #00c3d9;
}

@media only screen and (min-width: 768px) {
  .Button {
    font-size: 16px;
  }
}
