/* .plan {
  background-color: var(--dark);
  text-align: center;
} */

.plan__title {
  margin-bottom: 1rem;
  padding: 0px 12rem;
  color: var(--white);
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
}

.plan__text {
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 500;
}

.plan__cards {
  padding: 3rem 1rem 0 1.5rem;
  display: flex;
  justify-content: center;
}

.card {
  min-width: 270px;
  margin: 0 15px;
  padding: 2.25rem 3rem;
  border-radius: 0.3rem;
  background-color: #263238;
}

.card-title {
  margin-bottom: 0.75rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card-amount {
  padding-top: 1.5rem;
  color: var(--teal);
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
}

.amount-info {
  color: var(--info);
}

.card-month {
  margin-top: 0.5rem;
  color: #78909c;
  font-weight: 600;
  text-align: center;
}

.card-list {
  margin-bottom: 3rem;
  margin-top: 2rem;
  list-style: none;
}

.card-list li {
  margin-bottom: 1rem;
  color: #cfd8dc;
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.5;
}

.btn-primary {
  box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
  transition: all 0.2s ease-out;
}

.card-button {
  padding: 0.55rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  display: inline-block;
  border-color: var(--teal);
  background-color: var(--teal);
  color: var(--dark);
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn-info {
  color: var(--dark);
  background-color: var(--cyan);
  border-color: var(--cyan);
}

.card-button:hover {
  color: var(--white);
  background-color: #13c095;
  border-color: #12b58c;
  box-shadow: none;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #00c3d9;
  border-color: #00b7cc;
}

@media screen and (max-width: 1024px) {
  .plan__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .plan__title {
    padding: 0;
  }

  .card {
    padding: 2.25rem 1rem;
  }

  .card-button {
    padding: 0.55rem 1rem;
  }

  .card {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .plan__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/*
@media screen and (max-width: 480px) {
  .plan__title {
    padding: 0;
  }

  .plan__cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }
} */
