* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.relative {
  position: relative !important;
}

button,
input,
textarea {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
  background-color: inherit;
}

ul,
li,
ol {
  list-style-type: none;
}

.slick-active button {
  background-color: #359e8e !important;
}

a {
  color: inherit;
  text-decoration: none;
}
