hr {
  width: 55%;
  height: 1px;
  margin: 0 auto;
  margin-top: 3rem;
  border: 0;
  background-color: #263238;
}

.account {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.account__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.account__description {
  margin-bottom: 1.5rem;
  padding: 0 3rem;
  color: #cfd8dc;
  font-size: 1rem;
}

.account__button {
  color: var(--dark);
  background-color: var(--teal);
  border-color: var(--teal);
  border: 2px solid transparent;
  border-radius: 0.3rem;
  padding: 0.55rem 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.account__button:hover {
  box-shadow: 0 8px 20px rgba(29, 233, 182, 0.35);
  transition: all 0.2s ease-out;
  color: #ffffff;
  background-color: #14cc9e;
  border-color: #13c095;
}

@media screen and (max-width: 768px) {
  .account {
    min-width: 280px;
  }

  .account__description {
    padding: 0;
    line-height: 24px;
  }
}
