.SliderImage {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  outline: none;
  height: 250px;
}

.SliderImage img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.SliderWrapper {
  height: 250px;
  position: relative;
  margin: 0 0 0 auto;
  width: 100%;
}

.SliderControls {
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.SliderControls button {
  background-color: #1b524a;
  border-radius: 50%;
  margin: 0 10px;
  height: 12px;
  width: 12px;
}

@media only screen and (min-width: 768px) {
  .SliderImage {
    height: 270px;
  }

  .SliderWrapper {
    max-width: 440px;
    height: 270px;
    width: 50%;
  }
}
